.descriptionBlock {
    padding: 10px;
   font-family: 'Permanent Marker', cursive;

}
.avatar {
    margin: 0 auto;
width: 200px;
height: 200px;
}
.wallpapper {
     margin: 0 auto;
width: 1000px;
height: 50px;
}